<div class="row"> 
    <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>





      <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>



      <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>



      <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>




      <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>




      <div class="card col-4" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Imageflower.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Imageflower</h5>
          <p class="card-text">	English: flower</p>
          <a href="#" class="btn btn-primary">watch</a>
        </div>
      </div>
</div>